<h2>index celebrities</h2>
  <ul>
  {{#each celebrities as |celebrity|}}
  <li>{{ celebrity.name }} <a href="/celebrities/{{celebrity._id }}"> See </a>   </li>
  <form action="/celebrities/{{celebrity._id}}/delete" method="post">
  <button type="submit">delete</button></form>
  <a href="/celebrities/{{celebrity._id}}/edit">edit</a>
  {{/each}}
</ul>

<a href="/celebrities/new">Add a new celebrity</a>
<div>
  <a href="/movies">go to movies</a>
</div>

